$hover-green: #22c55e;
$green: #84cc16;
$active-green: #4ade80;
$brown: #be5353;
$bg: #3f3f4699;
$bg-hover: #3f3f46b3;
$orange: #ea580c;
$active-orange: #f97316;
$hover-orange: #fb923c;
$yellow: #facc15;
$wrong: #e11d48;
$success: #84cc16;